.custom.ng-enter {
  -webkit-animation:custom_enter 0.5s;
  -moz-animation:custom_enter 0.5s;
  -o-animation:custom_enter 0.5s;
  animation:custom_enter 0.5s;
}

@keyframes custom_enter {
  from {
    transform:rotate(-30deg);
    opacity:0;
  }
  to {
    transform:rotate(0deg);
    opacity:1;
  }
}

@-webkit-keyframes custom_enter {
  from {
    -webkit-transform:rotate(-30deg);
    opacity:0;
  }
  to {
    -webkit-transform:rotate(0deg);
    opacity:1;
  }
}

@-moz-keyframes custom_enter {
  from {
    -moz-transform:rotate(-30deg);
    opacity:0;
  }
  to {
    -moz-transform:rotate(0deg);
    opacity:1;
  }
}

@-o-keyframes custom_enter {
  from {
    -o-transform:rotate(-30deg);
    opacity:0;
  }
  to {
    -o-transform:rotate(0deg);
    opacity:1;
  }
}

.custom.ng-leave {
  -webkit-animation:custom_leave 0.5s;
  -moz-animation:custom_leave 0.5s;
  -o-animation:custom_leave 0.5s;
  animation:custom_leave 0.5s;
}

@keyframes custom_leave {
  from {
    opacity:1;
  }
  to {
    transform:rotate(30deg);
    opacity:0;
  }
}

@-webkit-keyframes custom_leave {
  from {
    opacity:1;
  }
  to {
    -webkit-transform:rotate(90deg);
    opacity:0;
  }
}

@-moz-keyframes custom_leave {
  from {
    opacity:1;
  }
  to {
    -moz-transform:rotate(90deg);
    opacity:0;
  }
}

@-o-keyframes custom_leave {
  from {
    opacity:1;
  }
  to {
    -o-transform:rotate(90deg);
    opacity:0;
  }
}
