<script type="text/ng-template" id="focus">
  <div class="focus-inner">
    <div class="inner">
      <h4 class="ani line">{{ result.name }}</h4>
      <p class="ani line">{{ result.desc }}</p>
      <div class="ani line">
        <div class="medium default btn"><a href="{{ result.url }}" target="_blank"><i class="icon-globe"></i>View Website</a></div>
        <div ng-hide="!result.src" class="medium default btn"><a href="{{ result.src }}" target="_blank"><i class="icon-github"></i>View Github Repo</a></div>
      </div>
      <a href="{{ result.url }}" class="ani" target="_blank" rel="nofollow">
        <img src="http://builtwith.angularjs.org/projects/{{ result.thumb }}" />
      </a>
    </div>
  </div>
</script>
<div class="results">
  <a href="" app-focus="{enter:'focus-enter',leave:'focus-leave',show:'focus-show',hide:'focus-hide'}" id="id-{{ result.id }}" ng-repeat="result in fetchResults(limit) track by result.id" class="result" ng-animate="getListAnimation()">
    <div class="inner">
      <h5>{{ result.name }}</h5>
      <img ng-src="http://builtwith.angularjs.org/projects/{{ result.thumb }}" />
    </div>
  </a>
  <div ng-show="limit < totalResults" class="load-more-results bottom">
    <a href="" ng-click="more()" class="medium default btn">
      Load More Results
    </a>
  </div>
</div>
